.overViewContainer {
}

.overview-item {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.overview-item.connections {
  background-color: skyblue;
}

.overview-item {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.overview-item.connections1 {
  background-color: #ffa07a;
}

.overview-item.configurations2 {
  background-color: #90ee90;
}

.overview-item.pipelines3 {
  background-color: #add8e6;
}

.overview-item.schedules4 {
  background-color: #ffcccb;
}

.overview-item.configurations {
  background-color: lightgreen;
}

.overview-item.pipelines {
  background-color: lightcoral;
}

.overview-item.schedules {
  background-color: lightyellow;
}
