.sidebar-container {
  width: 100%;
}

.sidebar {
  background-color: dodgerblue;
}

.menu {
  padding-top: 20px;
}

.menu-item {
  padding: 10px 20px;
}

.menu-item.logout {
  color: red;
}
.sub-menu {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.sub-menu .menu-item {
  padding-left: 30px;
}

.fa-solid {
  margin-right: 10px;
}
